<section id="slip">
    <div style="width:80%;margin:auto">
        <div style="padding-top:1.5rem;" class="d-flex justify-content-between">

            <h1 class="font_Coloered">Slip</h1>
            <a class="btn btn_White  mb-1" href="assets\Files\Slips\CritiCareSecure - Obelisky Slip - Version 1.pdf" download="slip.pdf">Download file</a>    
        </div>
    </div>
    <pdf-viewer src="assets\Files\Slips\CritiCareSecure - Obelisky Slip - Version 1.pdf" 
        [render-text]="true" 
        style="width: 80%; height:82vh; margin: auto;border: solid 1px #09c;">
</pdf-viewer> 
</section>
