<div class="container">
    <form [formGroup]="pro12Form">
        <div class="examBox">
            <div class="examhead text-center"><h2>Proposal 12</h2></div>
            <div class="quizBox">
                <!-- Question 1 -->
                <div class="row justify-content-center">
                    <h2 class="mb-2">1- <span class="p_2">Enter the Following </span> :</h2>
                    <div class="form-group w-40">
                        <label><span class="p_2 colored pb-0">Enter Height in (Cms)</span> .</label>
                        <input formControlName="height" [class.is-valid]="this.pro12Form.controls.height.status=='VALID'" placeholder="Enter Your height" type="text" class="form-control mb-2 cus_input shadow_3">
                        <div *ngIf="pro12Form.controls.height.errors && pro12Form.controls.height.touched" class="alert alert-danger">
                            Please Enter Correct Height
                        </div>
                    </div>
                    <div  class="form-group w-40">
                        <label ><span class="p_2 colored">Enter Weight in (Kgs)</span> .</label>
                        <input formControlName="weight"[class.is-valid]="this.pro12Form.controls.weight.status=='VALID'" placeholder="Enter Your Weight" type="text" class="form-control mb-2 cus_input shadow_3">
                        <div *ngIf="pro12Form.controls.weight.errors && pro12Form.controls.weight.touched" class="alert alert-danger">
                            Please Enter Correct Weight
                        </div>
                    </div>
                </div>
                <hr>
                <!--  Question 2-->
                <h2>2-<span class="p_2"> Have you used tobacco in the last 12 months? </span> .</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button value="false" name="last12Mon" (change)="getTobacco($event)"></mat-radio-button>
                        <label>No</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button value="true" name="last12Mon" (change)="getTobacco($event)"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                </div>
                
                <div *ngIf="tobacco =='true'">
                    <!--  Question 2.1-->
                    <div class="mt-3">
                        <h2>2.1-<span class="p_2"> If Vape </span> ?</h2>
                        <div class="row mt-2" >
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getVape($event)" value="true" name="vape"></mat-radio-button>
                                <label>Yes</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getVape($event)" value="false" name="vape"></mat-radio-button>
                                <label>No</label>
                            </div>
                        </div>
                    </div>
                    <!--  Question 2.2-->
                    <div class="mt-3">
                        <h2>2.2-<span class="p_2"> If Cigarettes &/or E-cigarettes specify the Daily frequency</span> .</h2>
                        <div class="row mt-2" >
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getCigarettesOrECigarettes($event)" value="a" name="Cigarettes"></mat-radio-button>
                                <label>[1 to 20]</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getCigarettesOrECigarettes($event)" value="b" name="Cigarettes"></mat-radio-button>
                                <label>[21 or more]</label>
                            </div>
                        </div>
                    </div>
                    <!--  Question 2.3-->
                    <div class="mt-3">
                        <h2>2.3-<span class="p_2">If Shisha, please specify frequency</span> .</h2>
                        <div class="row mt-2" >
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getShisha($event)" value="a" name="shisha"></mat-radio-button>
                                <label>[1 to 7 times per week]</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getShisha($event)" value="b" name="shisha"></mat-radio-button>
                                <label>More than 7 times per week </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Question 3 -->
                <h2>3-<span class="p_2"> Are you an alcohol Consumer </span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="alcoholChechFun($event)" value="false" name="Alcohol"></mat-radio-button>
                        <label>No</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="alcoholChechFun($event)" value="true" name="Alcohol"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                </div>
                
                <div *ngIf="alcoholCheck =='true'">
                    <!--  Question 3.1-->
                    <div class="mt-3">
                        <h2>3.1-<span class="p_2"> Specify : </span> .</h2>
                        <div class="row mt-2" >
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getAlcohol($event)" value="a" name="alcoholMuch"></mat-radio-button>
                                <label>One/Day</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getAlcohol($event)" value="b" name="alcoholMuch"></mat-radio-button>
                                <label>2 /Day</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getAlcohol($event)" value="c" name="alcoholMuch"></mat-radio-button>
                                <label>3+ /Day</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getAlcohol($event)" value="d" name="alcoholMuch"></mat-radio-button>
                                <label>Once per week</label>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-radio-button (change)="getAlcohol($event)" value="e" name="alcoholMuch"></mat-radio-button>
                                <label>Once per month</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
    
                <!-- Question 4 -->
                <h2>4-<span class="p_2">Have you ever consulted your general practitionner or any doctor for a condition or disorder which required one of the following</span> ?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getaskDoctorAboutCondition($event)" value="true" name="FamilyCancer"></mat-radio-button>
                        <label>More than 10 days treatment</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getaskDoctorAboutCondition($event)" value="true" name="FamilyCancer"></mat-radio-button>
                        <label>Specialised investigation</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="getaskDoctorAboutCondition($event)" value="true" name="FamilyCancer"></mat-radio-button>
                        <label> A period off work for more than 3 consecutive weeks</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="getaskDoctorAboutCondition($event)" value="true" name="FamilyCancer"></mat-radio-button>
                        <label>For medical reasons during the last 10 years</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getaskDoctorAboutCondition($event)" value="false" name="FamilyCancer"></mat-radio-button>
                        <label>None of the above</label>
                    </div>
                </div>
                <hr>
    
                <!-- Question 5 -->
                <h2>5-<span class="p_2">Are you currently receiving or have you undergone medical treatment for more than 3 consecutive weeks during the last 10 years, or have you been under medical follow-up during the last 5 years for cancer, tumor or growth of any source </span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getTreatmentOrFollowUpOrGrowthCancer($event)"  value="true" name="AskDoctorAboutCancer"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getTreatmentOrFollowUpOrGrowthCancer($event)" value="false" name="AskDoctorAboutCancer"></mat-radio-button>
                        <label>No</label>
                    </div>
                </div>
                <hr>
    
                <!-- Question 6 -->
                <h2>6-<span class="p_2"> Are you currently off work or taking any medication related to […]    </span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="offWorkOrMedication($event)"  value="true" name="TreatmentOrFollowUpOrGrowthCancer"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="offWorkOrMedication($event)" value="false" name="TreatmentOrFollowUpOrGrowthCancer"></mat-radio-button>
                        <label>No</label>
                    </div>
                </div>
                <hr>
    
                <!-- Question 7 -->
                <h2>7-<span class="p_2">Have you ever been hospitalized for any of the following</span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Respiratory conditions</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Rheumatic diseases</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Neurological diseases</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Cardio-vascular diseases</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Gastro-intestinal disorders</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Anxiety, Depression,  psychiatric or mental conditions</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Gynaecological conditions</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Kidney, Bladder or urinary disorders</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Chronic Diseases (Diabetes or other endocrine disease),</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Liver disease, Cirrhosis, Respiratory or Renal failure,</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Rheumatoid arthritis, Progressive systemic sclerosis,</label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Systemic lupus erythematosus, polyarteritis nodosa   </label>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Growth, Cyst, Tumor or Cancer of any sort</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>For Female applicants:</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="true" name="ScreeningWithCancer"></mat-radio-button>
                        <label>Any complication of Pregnancy</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalized($event)" value="false" name="ScreeningWithCancer"></mat-radio-button>
                        <label>None of the above</label>
                    </div>
                </div>
                <hr>
    
                <!-- Question 8 -->
                <h2>8-<span class="p_2">Have any of your natural parents, borthers or sisters suffered from any of the following before the age of 65</span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)"  value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Kidney Disease</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Heart Disease</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Stroke</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Huntington's chorea</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Systemic lupus erythematosus</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Polyarteritis Nodosa</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Psychiatric Disorders</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Cancer</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Familial Polyposis of the colon</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Progressive systemic sclerosis</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label>Disease of the nervous system</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getfamilySuffer($event)" value="true" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                        <label> Any other hereditary disease</label>
                    </div>
                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button (change)="getfamilySuffer($event)" value="false" name="AdmissionOrSurgeryCancer"></mat-radio-button>
                            <label>None of the above</label>
                        </div>
                </div>
                <hr>
    
                <!-- Question 9 -->
                <h2>9-<span class="p_2">Do you receive any disability or permanent health benefit as a result of illness or accident</span> ?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getdisabilityOrPermanentHealth($event)"  value="true" name="OrPermanentHealth"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="getdisabilityOrPermanentHealth($event)" value="false" name="OrPermanentHealth"></mat-radio-button>
                        <label>No</label>
                    </div>
                </div>
                <hr>
                <!-- Question 10 -->
                <h2>10-<span class="p_2">Are you due to any of the following</span> ?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalOrMedicalChecks($event)"  value="true" name="hospitalOrMedicalChecks"></mat-radio-button>
                        <label>Being admitted to a hospital or clinic</label>
                    </div> 
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="gethospitalOrMedicalChecks($event)" value="true" name="hospitalOrMedicalChecks"></mat-radio-button>
                        <label>Undergo medical examination, analysis or radtiotherapy</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalOrMedicalChecks($event)" value="true" name="hospitalOrMedicalChecks"></mat-radio-button>
                        <label>Undergo an operation</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalOrMedicalChecks($event)" value="true" name="hospitalOrMedicalChecks"></mat-radio-button>
                        <label>Undergo another type of treatment</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="gethospitalOrMedicalChecks($event)" value="false" name="hospitalOrMedicalChecks"></mat-radio-button>
                        <label>None of the above</label>
                    </div>
                </div>
                <hr>
                <!-- Question 11 -->
                <h2>11-<span class="p_2">Has any application for life cover or critical illness insurance been postpone, declined or accepted on special terms</span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="anotherApplications($event)"  value="true" name="anotherApplications"></mat-radio-button>
                        <label>Yes</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="anotherApplications($event)" value="false" name="anotherApplications"></mat-radio-button>
                        <label>No</label>
                    </div>
                </div>
                <hr>
                <!-- Question 12 -->
                <h2>12-<span class="p_2">Do you engage in any of the following</span>?</h2>
                <div class="row mt-3" >
                    <div class="col-md-6 col-sm-12 d-flex">
                        <mat-radio-button (change)="engageIn($event)"  value="true" name="PermanentHealth"></mat-radio-button>
                        <label>Flying a plane as pilot or passenger using other than </label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="engageIn($event)" value="true" name="PermanentHealth"></mat-radio-button>
                        <label> the usual airlines</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="engageIn($event)" value="true" name="PermanentHealth"></mat-radio-button>
                        <label>Using a motorcyle</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="engageIn($event)" value="true" name="PermanentHealth"></mat-radio-button>
                        <label>Practicing any competitive Sport</label>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-radio-button (change)="engageIn($event)" value="false" name="PermanentHealth"></mat-radio-button>
                        <label>None of the above</label>
                    </div>
                </div>
                <hr>
    
                <!-- Statement Declaration -->
                <h2><span class="colored my-3">Statement Declaration </span>:</h2>
                <br>
                <h2>1-<span class="p_2">I, hereby declare and agree that all answers given to all questions are to the best of my knowledge and belief, complete and true and that I have not withheld any material facts. I fully understand that, If this declaration is proved to be wrong or if any material information regarding my health has been  withheld, the policy would be void ab-initio.</span> .</h2>
                <div class="col-md-6 col-sm-12 mt-2">
                    <mat-checkbox class="example-margin" formControlName="firstEndorsement" name="firstEndorsement">Read and Agreed</mat-checkbox>
                </div>
                <hr>

                <br>
                <h2>2-<span class="p_2"> I hereby agree that the company assessing the risk under this proposal, any insurer/reinsurer,claims investigator or any survice provider engaged by the company for issuance, without any reference to me,  have access to all my medical examinations, laboratory tests or any document submitted by myself.</span> .</h2>
                <div class="col-md-6 col-sm-12 mt-2">
                    <mat-checkbox class="example-margin" formControlName="secondEndorsement" name="secendEndorsement">Read and Agreed</mat-checkbox>

                </div>
                <hr>

            </div>
    
            <div class="text-center">
                <div *ngIf="flag" class="alert alert-danger w-75 m-auto my-2"><h2>Please Answer All Questions</h2></div>
                <button [disabled]="this.pro12Form.status=='INVALID'" (click)="submitPro12Form()" class="btn btn_White px-5 fs-5">Submit</button>
            </div>
        
        </div>
    </form>
</div>