.footer{
    padding: 2.5vh;
    background-color:#FFEB00 ;  
}

.container_custom{
    width:99%;
    margin: auto;
    padding: 0;
}
.container_custom p{
    padding: 0.8rem;
    margin: 0;
}
.font-medium{
    font-weight:400;
    border-color: #e5e7eb;
    letter-spacing: 1px;;
    font-size: 1.05rem;
}
